---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">魔力鸽</h1>
    <p>欢迎来到魔力鸽的博客！</p>
    <p>
      关于博客：本博客基于 Vitesse theme for Astro 创建，这是一个基于 Astro
      的静态网站主题，可以用于搭建博客或个人网站。Vitesse theme 采用了简洁、清晰的色彩搭配，使得代码易于阅读和理解。
    </p>
    <p>
      关于我：我是一个计算机和编程技术爱好者，非科班出身，却乐在其中。我平日喜欢写作，尤其是关于日常、旅游、影视等话题的小短文。也许在某个人生节点，我会写本书。也许就是明天，谁知道呢。
    </p>
    <hr class="hr-line" />
    <p>
      <b
        ><font size="3" color="red" face="黑体">
          樹茲石於講舍，繫哀思而不忘。表哲人之奇節，訴真宰之茫茫。來世不可知者也，先生之著述，或有時而不章。先生之學說，或有時而可商。惟此獨立之精神，自由之思想，歷千萬祀，與天壤而同久，共三光而永光。
        </font>
      </b>
      <p style="text-align: right;">
        <b><font size="3" color="red" face="黑体"> 民國十八年 陳寅恪 《清華大學王觀堂先生紀念碑銘》 </font></b>
      </p>
    </p>
  </article>
</BaseLayout>
